{
    "appName" : "My App",

    "baseUrl" : "http://myapp.fano",

    "secretKey" : "replace with your own secret key",

    "session" : {
        "name" : "fano_sess",
        "dir" : "/home/zamroni/fun/hello-fano/validation.fano/storages/sessions/"
    },

    "cookie" : {
        "name" : "fano_sess",
        "domain" : "myapp.fano",
        "maxAge" : 3600
    }
}